
/* HTML Elements */

footer {
    background-color: floralwhite;
    margin: 12px;
    padding: 12px;
}

h1 {
    text-align: center;
}

li {
    list-style-type:none;
}

nav {
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    text-align: center;
    background: olivedrab;
    color: white;
    font-size: 30px;
  }
/* CLASSES Targeted classes with class names. */

/* style for flexboxes */
.row-body {
    display: flex;
}

.banner {
    display: flex;
    padding: 0 4px;
}

.cookbooks {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    margin: 0px 2px 20px;
}

.restaurants {
    display: flex;
    background-color: darkslategray;
    border-radius: 10px;
    align-items: center;
}

/* style for colunms within flexboxes */

.banner-text{
    position: absolute;
    font-size: 3vw;
    margin-top: -5vw;
    margin-left: 10px;
    font-weight: bolder;
    color: white;
}

.cookbooks .image {
    padding: 4px 4px;
    max-width: 15%;
}

.restaurants .col {
    padding: 4px 4px;
}


/* style imgs within colunms within flexboxes */

.banner img {
    max-width: 100%;
}

.cookbooks img {
    padding: 4px 4px;
    max-width: 100%
}


.restaurants img {
    max-width: 100%;
}

/* Book Captions */
.book-title {
    font-weight: bold;
}

.book-author {
    font-size: small;
}

/* left menu css */
.sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: floralwhite;
}

.sidenav a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.sidenav a:hover {
    background-color: honeydew;
}

.sidenav .active {
    color: olivedrab;
}

/* right menu css */

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: floralwhite;
}

aside a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

aside a:hover {
    background-color: honeydew;
}

aside .active {
    color: olivedrab;
}

/* top navigation css */
.topnav {
    background-color: floralwhite;
    overflow: hidden;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: honeydew;
    color: black;
}

.topnav a.active {
    background-color: olivedrab;
    color: white;
}
/* IDS Targeted specifics with id names. */
#search-box {
    position: absolute;
    right: 0;
    padding: 8px;
    margin: 6px;
    font-size: 17px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* OVERRIDES Previously styled elements that are being overridden. */


